.Category{
    
    min-height:500px;
    width:15%;
    vertical-align:top;
    background-color:black;
    margin:10px;
    display:inline-block;

}
.title{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:blue;
    color:white;
    width:100%;
    vertical-align:center;
    height:100px;    
}
.title h3{
    margin:5px;
}